<div class="container">
  <div class="card-info">
    <div class="text-info">
      <h4>
        Bienvenido a nuestra tienda de productos de belleza. Encontraras grandes
        ofertas! Tenemos productos exclusivos y muchas mas ofertas! nuestro
        principal proposito es llevar tu belleza a su maximo potencial y
        resplandor no dudes en visitar nuestros novedosos productos!
      </h4>
      <button>SAAAOOO</button>
    </div>
    <img src="assets/perfumeInfo.webp" alt="asa" />
  </div>
</div>
